<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
<dict>
<key>CFBundleIdentifier</key>
<string>tcapi</string>
<key>DashDocSetFamily</key>
<string>dashtoc</string>
<key>CFBundleName</key>
<string>腾讯云API</string>
<key>DashDocSetNameShorteningFamily</key>
<string>tcapi</string>
<key>DocSetPlatformFamily</key>
<string>tcapi</string>
<key>dashIndexFilePath</key>
<string>https://cloud.tencent.com/document/api</string>
	<key>DashDocSetPlugin</key>
	<string>tcapi</string>
		<key>isDashDocset</key>
    	<true/>
</dict>
</plist>

